<?xml version="1.0"?>
<browserCaps>
  <case match="^Mozilla/5\.0\s*([^)]*\))\s*(Gecko\/\d+)\s*Firefox\/
    (?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*">

    type=Firefox/${version}
    version=${version}
    majorversion=${major}
    minorversion=${minor}
    frames=true
    tables=true
    cookies=true
    javascript=true
    javaapplets=true
    ecmascriptversion=1.5
    w3cdomversion=1.0
    css1=true
    css2=true
    xml=true
    tagwriter=System.Web.UI.HtmlTextWriter
    <filter match="^b" with="${letters}">
      beta=true
    </filter>
  </case>
</browserCaps>
</configuration>